@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(79, 79, 75));
    font-family: "Open Sans", sans-serif;

}

.conatainer{
    height: 70vh;
    width: 100vw;
    display: flex;
    
}
 h1{
    display: flex;
    justify-content: center;
    height: 30vh;
    font-size: 2vw;
    align-items: center;
    font-weight: 500;
}
.text-heading{
    font-size: 2.5vw;
    font-weight: 200;
}
h2{
    margin-top: 3vh;
    font-weight: 300;
    
}
.contact-form{
    height: 40vh;
    width: 60vw;
}
.text-part{
    width: 30vw;
}
.form-control{
    padding: 1vh 7vw;
}
.form-control input{
    height: 10vh;
    width: 36vw;
    border: none;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(79, 79, 75));
}

.form-control button{
    font-size: 1.2vw;
    padding: 2vh 2vw;
    background-color:rgb(109, 67, 0);;
    color: white;
}